.post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
    
  }
.header__option .material-icons {
    font-size: xx-large;
    color: gray;
  }
  
.header__option:hover .material-icons {
    color: #2e81f4;
  }
  
.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
  }
  
.header__option.active .material-icons {
    color: #2e81f4;
  }  


.header__right .material-icons {
    color: gray;
    margin: 0 10px;
  }
  
.header__right .material-icons:hover {
    cursor: pointer;
  }

.sidebarRow .material-icons {
    font-size: xx-large;
    color: #2e81f4;
  }

  .post__options {
    padding-top: 10px;
    border-top: none;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
  }
  
  .post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
    margin-left: 15px;
  }
  
  .post__option p {
    margin-left: 10px;
  }
  
  .post__option:hover {
    background-color: #eff2f5;
    border-radius: 10px;
  }

